# Generate a secret using django built in module : python3 -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
# Maybe we should generate a key using entrypoint ?
SECRET_KEY=super_insecure_key
# Django admin superuser override, works only using docker image
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=change-me