asgiref==3.12.1
Django==6.1.1
django-stubs==6.1.0
django-stubs-ext==6.1.0
django-vite==3.1.0
djangorestframework-stubs==3.18.1
gunicorn==26.2.0
pillow==12.3.0
python-dotenv==1.2.3
sqlparse==0.6.0
types-PyYAML==6.0.12.20260906
typing_extensions==4.16.0
whitenoise==6.12.0
