nav {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    border-bottom: solid #444444 1px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0 15% 0 15%;
    overflow: hidden;
}

nav ul li {
    float: left;
}
nav ul li.spacer {
    flex-grow: 1;
}

nav ul li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li span.app-title {
    font-weight: bold;
}

nav ul li .error {
    background-color: rgb(127, 0, 0);
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: solid;
    border-color: transparent;
    transition: 0.3s;
}

nav ul li a:hover {
    border-bottom: solid;
    border-color: #c42c01;

}

@media (max-width: 992px){
    nav ul {
        padding: 0;
    }

    .action-bar {
        display: none;
    }
}