nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

nav ul li {
    float: left;
}
nav ul li.spacer {
    flex-grow: 1;
}

nav ul li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li span.app-title {
    font-weight: bold;
}

nav ul li .error {
    background-color: rgb(127, 0, 0);
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111111;
}