{% extends 'base.html' %}

{% block content %}
<ul class="app-list">
    {% for app in apps %}
    <div class="app-card">
        {% if app.icon %}<img class="app-card-icon" src={{app.icon.url}} alt="logo" />{% endif %}
        <div class="app-card-title">
            <span class="app-card-name">{{ app.title }}</span>
        </div>
        <div class="app-card-actions">
            <a class="button" href={{ app.url }} target="_blank">Open</a>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}